<form [formGroup]="loginForm">
   
    <input formControlName="email" type="email" placeholder="Email"><br><br>
    <span *ngIf="loginForm.hasError('required','email') && loginForm.controls['email'].dirty"
        style="color:red">required</span><br><br>
    <span *ngIf="loginForm.hasError('email','email') " style="color:red">email is invalid</span><br>
    <input formControlName="password" type="password" placeholder="Password"><br><br>
    <span *ngIf="loginForm.hasError('required','password') && loginForm.controls['password'].dirty"
        style="color:red">required</span><br><br>
      <button (click)="login()" type="submit">Login</button>


    </form>



<div class="flex justify-center p-10">
    <div id="g_id_onload" data-client_id="80200947676-gmvfbgc1pm3v2das68roah9mfqfoodq5.apps.googleusercontent.com"
        data-context="signin" data-ux_mode="popup" data-login_uri="http://localhost:5000/api/user/login/google"
        data-auto_prompt="false">
    </div>
    
    <div id="buttonDiv" class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline" data-text="signin_with"
        data-size="large" data-logo_alignment="left">
    </div>
    </div>

